#firstsec{
	background-color: lightyellow;
	border:10px solid yellow;
	margin-bottom:10px;
	width: 720px;
	align:right;
}
#secondsec{
	background-color: lightyellow;
	border:10px solid yellow;
	margin-bottom:10px;
	width: 720px;
}
#thirdsec{
	background-color: lightyellow;
	border:10px solid yellow;
	margin-bottom:10px;
	width: 720px;
}
#fourthsec{
	background-color: lightyellow;
	border:10px solid yellow;
	margin-bottom:10px;
	width: 720px;
}
